* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 200px;
}

.nav-bar nav .left {
  color: rgb(28, 149, 241);
}

.nav-bar nav .right {
  display: flex;
  gap: 40px;
}

.nav-bar nav .right a:hover {
  color: rgb(28, 149, 241);
}

main .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main .container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  padding: 15px;
  height: 50px;
  width: 415px;
  border-radius: 7px;
}

main .container h2 #color {
  margin-left: 5px;
}

main .container .btn button {
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: inset 0 0 0 0 black;
}

main .container .btn button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 100px black;
  color: white;
  transition: 0.1s;
}
